/* CSS declarations go here */
body {
	font-family: 'Kite One'
}

.feature {
	margin: 0 0 10px 0;
	position: relative;
	border: dashed 2px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}

.feature img {
	border-radius: 500px;
	max-width: 32px;

}

.feature .dock-upper-right {
	position: absolute;
	top: 5px;
	right: 5px;
}

.feature .status {
	color: #888855;
}
