/* CSS declarations go here */
body {
	font-family: 'Kite One'
}

.feature {
	margin: 0 0 10px 0;
	position: relative;
	padding: 8px;
	border-radius: 8px;
}

.feature img {
	border-radius: 500px;
	max-width: 32px;
}

.feature .dock-upper-right {
	position: absolute;
	top: 5px;
	right: 5px;
}

.feature .status {
	color: #888855;
}

.feature .lead {
	margin-bottom: 0px;
}
